body {
    background-color: #D3E9FE;
    text-align: center;
    margin: 0;
}

img {
    border-radius: 6px;
    height: 415px;
}

footer {
    background-color: #26313b;
    padding: 5px;
    color: antiquewhite;
}

a {
    text-decoration: none;
    color: gold;
}

a:visited {
    text-decoration: none;
    color: gold;
}

#blinkText{	
    animation-name:blink;
    animation-duration:2s;
    animation-timing-function:ease-in;
    animation-iteration-count:Infinite;
    }

@keyframes blink{
    0%{color:#26313b;}
    50%{color:white;}
    100%{color:#26313b;}
}

.hidden {
    display: none;
}